<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "/static/style.css">

</head>
<body>


        <table style="width:100%" >
                <tr>
                  <th><a href="/index">home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/blog"> all posts</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/newpost">newpost </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </th>
                  <th><a href="/login">login</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="/logout">logout</a></th>
                </tr>
        </table>
       
   
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
           {% for category,message in messages %}
              <li class="{{category}}">{{message}}</li>
           {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>
